<nav class="js-toc toc" style="border-top: 0px none;">
<img style="padding-top: 0px; width: 30%;" src="{{ site.url }}/assets/images/Logo%20color%20trnsprnt.png" alt="Logo color trnsprnt">

<p>
<h2 class="toc__title" style="padding-top: 0.0rem; color: rgb(159, 29, 33); font-style: italic; text-decoration: underline;">
  <img src="{{ site.url }}/assets/images/bible-icon.png" style="width: 20px; margin-right: 5px;" alt="bible-icon"/><a href="{{ site.url }}/tag/">Các từ khóa</a><br />
  <img src="{{ site.url }}/assets/images/bible-icon.png" style="width: 20px; margin-right: 5px;" alt="bible-icon"/><a href="{{ site.url }}/bible-studies-viet/Ro-ma/">Sách Rô-ma</a><br />
  <img src="{{ site.url }}/assets/images/bible-icon.png" style="width: 20px; margin-right: 5px;" alt="bible-icon"/><a href="{{ site.url }}/bible-studies-viet/Ga-la-ti/">Sách Ga-la-ti</a><br />
  <img src="{{ site.url }}/assets/images/bible-icon.png" style="width: 20px; margin-right: 5px;" alt="bible-icon"/><a href="{{ site.url }}/bible-studies-viet/Ngu-Ngon/">Các ngụ ngôn</a><br />
  <img src="{{ site.url }}/assets/images/bible-icon.png" style="width: 20px; margin-right: 5px;" alt="bible-icon"/><a href="{{ site.url }}/bible-studies-viet/Bap-tem/">Báp-têm</a>
</h1>
</p>

  <h4 class="toc__title" style="padding-top: 0.0rem;">Chân Lý Nền Tảng</h4>
<ul class="toc__menu" id="markdown-toc">
  <li>Không Còn Bị Lên Án<ul>
      <li><span style="font-family: PT Serif;"><em><sup>1</sup>Cho nên hiện nay chẳng còn có sự đoán phạt nào cho những kẻ ở trong Ðức Chúa Jêsus Christ; <sup>2</sup>vì luật pháp của Thánh Linh sự sống đã nhờ Ðức Chúa Jêsus Christ buông tha tôi khỏi luật pháp của sự tội và sự chết (Romans<span style="color: rgba(0,0,0,0);">_</span>8:1).</em></span>
      </li>
    </ul>
  </li>
  <li>Bước Đi Theo Xác Thịt<ul>
      <li>Bước đi theo xác thịt có nghĩa là sử dụng sức mạnh của xác thịt, điều nó làm hoặc không làm, để xác định mối tương quan với Đức Chúa Trời.
      </li>
    </ul>
  </li>
  <li>Trật phần ân điển<ul>
      <li><span style="font-family: PT Serif;"><em>Anh em thảy đều muốn cậy luật pháp cho được xưng công bình, thì đã lìa khỏi Ðấng Christ, mất ân điển rồi (Galatians<span style="color: rgba(0,0,0,0);">_</span>5:4)</em></span>
      </li>
    </ul>
  </li>
  <li>Luật Pháp Không Mang Lại Sự Công Bình<ul>
      <li><span style="font-family: PT Serif;"><em>Do đó chẳng có một người nào bởi việc làm theo luật pháp mà sẽ được xưng công bình trước mặt Ngài, vì luật pháp cho người ta biết tội lỗi (Romans<span style="color: rgba(0,0,0,0);">_</span>3:20)</em></span>
      </li>
    </ul>
  </li>
</ul>

</nav>


