<nav class="js-toc toc" style="border-top: 0px none;">
<img style="padding-top: 0px; width: 30%;" src="{{ site.url }}/assets/images/Logo%20color%20trnsprnt.png" alt="Logo color trnsprnt">

<p>
<h2 class="toc__title" style="padding-top: 0.0rem; color: rgb(159, 29, 33); font-style: italic; text-decoration: underline;">
  <img src="{{ site.url }}/assets/images/bible-icon.png" style="width: 20px; margin-right: 5px;" alt="bible-icon"/><a href="{{ site.url }}/tag/">List of topics</a><br />
  <img src="{{ site.url }}/assets/images/bible-icon.png" style="width: 20px; margin-right: 5px;" alt="bible-icon"/><a href="{{ site.url }}/bible-studies/Romans/">Romans</a><br />
  <img src="{{ site.url }}/assets/images/bible-icon.png" style="width: 20px; margin-right: 5px;" alt="bible-icon"/><a href="{{ site.url }}/bible-studies/Galatians/">Galatians</a><br />
  <img src="{{ site.url }}/assets/images/bible-icon.png" style="width: 20px; margin-right: 5px;" alt="bible-icon"/><a href="{{ site.url }}/bible-studies/Parables/">Parables</a><br />
  <img src="{{ site.url }}/assets/images/bible-icon.png" style="width: 20px; margin-right: 5px;" alt="bible-icon"/><a href="{{ site.url }}/bible-studies/Baptism/">Baptism</a>
</h1>
</p>

<h4 class="toc__title" style="padding-top: 0.0rem;">Foundational Truths</h4>
<ul class="toc__menu" id="markdown-toc">
  <li>No More Condemnation<ul>
      <li><span style="font-family: PT Serif;"><em><sup>1</sup>Therefore there is now no condemnation for those who are in Christ Jesus. <sup>2</sup>For the law of the Spirit of life in Christ Jesus has set you free from the law of sin and of death (Romans<span style="color: rgba(0,0,0,0);">_</span>8:1).</em></span>
      </li>
    </ul>
  </li>
  <li>Walk According to the Flesh<ul>
      <li>To walk by the flesh is to use the flesh, what it does or does not, to determine one's relationship with God.
      </li>
    </ul>
  </li>
  <li>How one falls from God's grace<ul>
      <li><span style="font-family: PT Serif;"><em>You who are trying to be justified by the law have been alienated from Christ; you have fallen away from grace (Galatians<span style="color: rgba(0,0,0,0);">_</span>5:4)</em></span>
      </li>
    </ul>
  </li>
  <li>The law does not bring righteousness<ul>
      <li><span style="font-family: PT Serif;"><em>Therefore no one will be declared righteous in God's sight by the works of the law; rather, through the law we become conscious of our sin (Romans<span style="color: rgba(0,0,0,0);">_</span>3:20)</em></span>
      </li>
    </ul>
  </li>
</ul>

</nav>


